In [3]:
import numpy as np
import pandas as pd

In [4]:
# 数据导入
total_df = pd.read_csv("total_df.csv")

In [ ]:
total_df.head()

In [ ]:
total_df.shape

In [ ]:
total_df['date'] = pd.to_datetime(total_df['date'])                             # 将日期设为索引
total_df = total_df.sort_values(['date', 'code']).reset_index(drop=True)        # 按[日期,股票代码]排序，设置二级索引
total_df = total_df.join(total_df.set_index('date'), on='date')                 # 按日期对齐

In [19]:
total_df.head()

,date,code,open,high,low,close,vwap,amount,turnover,pe,pb,ps,target
0,2017-01-04,000001.sz,0.998908,1.002183,0.997817,1.000000,0.999800,4.115034,0.307104,7.1933,0.8822,1.6356,0.015342
1,2017-01-04,000002.sz,1.000482,1.010613,0.986493,1.005789,0.999174,6.867453,0.341490,12.7028,2.2924,1.1770,-0.005277
2,2017-01-04,000004.sz,0.999550,1.008324,0.990101,1.005624,0.998638,0.387034,1.050948,3009.9458,39.0116,31.1633,-0.112268
3,2017-01-04,000005.sz,1.000000,1.042460,0.995608,1.026354,1.025054,0.937124,1.407172,-134.3308,5.7859,88.2051,-0.050426
4,2017-01-04,000006.sz,1.001034,1.022751,0.989659,1.013444,1.007413,3.896723,2.974273,31.7453,3.0449,3.6204,-0.098871